.details {
  width: 320px;
  margin: 0 auto;
  margin-top: 20px;
//  background-image: url(../img/background-2.png);
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: center top 215px;
}

.details__bg {
  transform: scale(1.2);
}

.details__title {
  font-size: 45px;
  line-height: 51px;
  font-weight: 700;
  color: #fff;
  order: 1;
  margin-top: 20px;
}

.details__wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  position: relative;
}

.details__flash-wrap {
  display: none;
}

.details__block {
  position: relative;
  order: 4;
}

.details__circle-1,
.details__circle-2,
.details__circle-3,
.details__circle-4 {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.details__circle-1 {
  transform: translate(-20px,-55px);
}

.details__circle-2 {
  transform: translate(25px,0);
}

.details__circle-3 {
  transform: translate(-50px,10px);
}

.details__circle-4 {
  transform: translate(-90px,-45px);
}

.details__final {
  position: absolute;
  right: -10px;
  bottom: -30px;
}

.details__link {
  color: #fff;
  border-bottom: 1px solid #fff;
  
  &:hover,
  &:active {
    border-bottom: none;
  }
}

.details__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  order: 2;
}

.details__item {
  padding-left: 100px;
  position: relative;
  display: none;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &:first-child {
    max-width: 280px;
    
    &::before {
      background-image: url(../img/icon-clock-green.png);
    }
  }
  
  &:nth-child(2)::before {
    background-image: url(../img/icon-calender-green.png);
  }
  
  &:nth-child(3) {
    max-width: 200px;
    
    &::before {
      background-image: url(../img/icon-cats-green.png);
    }
  }
  
  &:nth-child(4) {
    max-width: 170px;
    
    &::before {
      background-image: url(../img/icon-pipet-green.png);
    }
  }
}

.details__radio {
  display: none;
}

.details__slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
  margin-bottom: 35px;
}

.details__btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 8px;
  cursor: pointer;
}

#slide-1:checked ~ .details__slider .details__btn--1,
#slide-2:checked ~ .details__slider .details__btn--2,
#slide-3:checked ~ .details__slider .details__btn--3,
#slide-4:checked ~ .details__slider .details__btn--4 {
  background-color: #fff;
}

#slide-1:checked ~ .details__list .details__item:nth-child(4),
#slide-2:checked ~ .details__list .details__item:nth-child(1),
#slide-3:checked ~ .details__list .details__item:nth-child(2),
#slide-4:checked ~ .details__list .details__item:nth-child(3) {
  display: block;
}

.details__text {
  order: 5;
  max-width: 230px;
  margin-bottom: 160px;
}

//--------------tablet
@media @tablet {
  .details {
    width: 768px;
    margin-top: 0;
//    background-position: center top 510px;
  }
  
  .details__bg {
    transform: none;
  }
  
  .details__title {
    font-size: 63px;
    line-height: 72px;
    order: 1;
    width: 420px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 120px;
  }
  
  .details__flash {
    display: block;
  }
  
  .details__flash-wrap {
    display: block;
    margin-left: 90px;
    order: 2;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(13%,-75%);
      width: 842px;
      height: 336px;
      background-image: url(../img/cloud.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  .details__list {
    order: 3;
  }
  
  .details__item {
    display: block;
    position: absolute;
    padding-left: 0;
    padding-top: 90px;
    
    &:first-child {
      top: 40%;
      left: 0;
      max-width: 170px;
    }
    
    &:nth-child(2) {
      top: 45%;
      left: 40%;
      max-width: 170px;
    }
    
    &:nth-child(3) {
      top: 37%;
      left: 65%;
      max-width: 170px;
    }
    
    &:nth-child(4) {
      top: 52%;
      left: 85%;
      max-width: 170px;
    }
  }
  
  .details__slider {
    display: none;
  }
  
  .details__block {
    position: absolute;
    top: 58%;
    left: -10%;
  }
  
  .details__text {
    position: absolute;
    top: 65%;
    left: 40%;
    margin: 0;
  }
  
  .details__final {
    position: static;
    order: 6;
    margin-left: auto;
    margin-right: 50px;
    margin-top: -35px;
  }
}

//----------------desktop
@media @desktop {
  .details {
    width: 100%;
//    background-position: center top 540px;
  }
  
  .details__bg {
    display: block;
    margin: 0 auto;
  }
  
  .details__flash-wrap {
    margin-left: 190px;
  }
  
  .details__title {
    margin-left: 180px;
  }
  
  .details__block {
    left: 0;
  }
  
  .details__final {
    margin-right: 180px;
  }
  
  .details__wrap {
    margin-top: 30px;
  }
}
