.howto {
  padding-bottom: 50px;
}

.howto__title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: @violet;
  text-transform: uppercase;
  margin-bottom: 20px;
  
  span {
    display: block;
    color: @grass;
    text-transform: none;
  }
}

.howto__img {
  border-radius: 50%;
  border: 3px solid @violet;
  margin-bottom: 38px;
}

.howto__step {
  position: relative;
  line-height: 1.2;
  margin-bottom: 40px;
  padding-right: 40px;
  
  &::before {
    content: "01";
    position: absolute;
    top: -55px;
    left: 0;
    color: @violet;
    font-size: 72px;
    line-height: 1.2;
    font-weight: 700;
    opacity: 0.2;
  }
}

.howto__item {
  &:nth-child(2) .howto__step::before {
    content: "02";
  }
  
  &:nth-child(3) .howto__step::before {
    content: "03";
  }
}

.howto__check,
.howto__text,
.howto__circle {
  display: none;
}

.howto__label {
  font-size: 28px;
  line-height: 28px;
  color: @grass;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  
  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: -45px;
    width: 30px;
    height: 18px;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
  }
}

.howto__check:checked ~ .howto__text {
  display: block;
}

.howto__check:checked + .howto__label::after {
  transform: scaleY(-1);
}
//--------------tablet
@media @tablet {
  .howto__title {
    font-size: 62px;
    line-height: 62px;
    margin-bottom: 110px;
    margin-top: 25px;
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      top: -50px;
      right: 20px;
      width: 153px;
      height: 124px;
      background-image: url(../img/steps-2.png);
    }
  }
  
  .howto__list {
    width: 50%;
  }
  
  .howto__circle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(45%,0);
    
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: -35px;
      width: 174px;
      height: 546px;
      background-image: url(../img/ellipse.png);
    }
  }
  
  .howto__main {
    border-radius: 50%;
    width: 556px;
    height: 556px;
  }
  
  .howto__wrap {
    width: 100%;
    position: relative;
  }
  
  .howto__item {
    &:first-child .howto__pic {
      top: -20px;
      left: 60%;
      z-index: 5;
    }
    
    &:nth-child(2) .howto__pic {
      top: 42%;
      left: 46%;
      z-index: 5;
      
      &::before {
        content: "2";
      }
    }
    
    &:nth-child(3) .howto__pic {
      top: 83%;
      left: 60%;
      z-index: 5;
      
      &::before {
        content: "3";
      }
    }
  }
  
  .howto__pic {
    position: absolute;
    
    &::before {
      content: "1";
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      background-color: @violet;
      border-radius: 50%;
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      line-height: 48px;
    }
  }
  
  .howto__step {
    text-align: right;
    
    &::before {
      left: 85%;
    }
  }
  
  .howto__item {
    margin-bottom: 120px;
    
    &:first-child .howto__step {
      padding-right: 0;
    }
    
    &:nth-child(2) .howto__step {
      padding-right: 60px;
      
      &::before {
        left: 70%;
      }
    }
    
    &:nth-child(3) .howto__step {
      padding-right: 0;
      max-width: 350px;
    }
  }
  
  .howto__label {
    display: block;
    text-align: center;
    
    &::after {
      display: none;
    }
  }
  
  .howto__text {
    display: block;
    text-align: center;
    margin-top: 0;
  }
  
  .howto__item:last-child {
    margin-bottom: 100px;
  }
}

//----------------desktop
@media @desktop {
  .howto__item:first-child .howto__pic {
    left: 46%;
    top: 45px;
  }
  
  .howto__item:nth-child(2) .howto__pic {
    left: 36%;
    top: 46%;
  }
  
  .howto__item:nth-child(3) .howto__pic {
    left: 46%;
    top: 82%;
  }
  
  .howto__item:nth-child(3) .howto__step {
    margin-right: 0;
    margin-left: auto;
  }
  
  .howto__text {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .howto__title {
    font-size: 72px;
    line-height: 72px;
    padding-top: 20px;
    margin-bottom: 80px;
    
    &::after {
      right: 170px;
    }
  }
  
  .howto__main {
    width: 676px;
    height: 676px;
  }
  
  .howto__circle {
    transform: translate(20%,0);
    
    &::before {
      top: 85px;
      left: -30px;
    }
  }
  
  .howto__list {
    width: 40%;
    padding-top: 50px;
  }
  
  .howto__item:nth-child(2) {
    max-width: 305px;
    
    .howto__step {
      padding-right: 20px;
    }
  }
  
  .howto__item:last-child {
    margin-right: 20px;
  }
}
