.protect__list {
  display: none;
}

.protect__text {
  line-height: 22px;
  text-align: center;
  
  span {
    color: @violet;
    font-weight: 700;
  }
  
  &--hidden {
    display: none;
  }
}

.protect__check {
  display: none;
}

.protect__arrow {
  display: block;
  width: 13px;
  height: 21px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-image: url(../img/arrow-next.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
  cursor: pointer;
}

.protect__check:checked ~ .protect__text--hidden {
  display: block;
}

.protect__check:checked + .protect__arrow {
  transform: rotate(-90deg);
  margin-bottom: 0;
}

//--------------tablet
@media @tablet {
  .protect__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 35px;
  }
  
  .protect__text {
    padding: 0 20px;
    font-size: 18px;
    line-height: 28px;
    
    &--hidden {
      display: block;
      margin-bottom: 40px;
    }
  }
  
  .protect__arrow {
    display: none;
  }
}

//----------------desktop
@media @desktop {
  .protect__text {
    padding: 0 35px;
    margin-bottom: 25px;
    
    &:last-of-type {
      margin-bottom: 55px;
    }
  }
  
  .protect__list {
    justify-content: space-around;
    padding-bottom: 20px;
  }
}
