.unique {
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 70px;
  color: #fff;
  background-image: url(../img/background-4.png);
  background-repeat: no-repeat;
  background-position: right -200px center;
}

.unique__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  
  span {
    display: block;
    color: @grass;
    text-transform: none;
  }
}

.unique__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 80px;
}

.unique__item {
  position: relative;
  
  b {
    display: block;
  }
  
  &:first-child,
  &:nth-child(2) {
    width: 160px;
    text-align: center;
  }
  
  &:first-child::before,
  &:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 201px;
    height: 201px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.3);
  }
  
  &:first-child::after,
  &:nth-child(2)::after {
    content: "";
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  &:first-child::after {
    left: -25px;
    background-image: url(../img/bug-beated.png);
  }
  
  &:nth-child(2)::after {
    right: -25px;
    background-image: url(../img/microbs.png);
  }
  
  &:first-child {
    margin-left: 20px;
    margin-bottom: 25px;
  }
  
  &:nth-child(2) {
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 80px;
  }
  
  &:nth-child(3) {
    align-self: flex-end;
    text-align: right;
    width: 240px;
    margin-bottom: 15px;
    
    span {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
  }
  
  &:nth-child(4) {
    width: 205px;
    margin-bottom: 80px;
    
    b {
      font-weight: 400;
      position: absolute;
      left: 55px;
      bottom: -25px;
    }
    
    span {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
  }
}

.unique__block {
  position: relative;
  margin-bottom: 80px;
  padding-top: 20px;
}

.unique__product {
  width: 152px;
  height: auto;
  transform: rotate(-30deg);
  position: absolute;
  top: 10px;
  left: 33%;
}

.unique__main {
  transform: scale(1.2);
}

.unique__bug-item {
  position: absolute;
  
  img {
    transform: scale(0.75);
  }
  
  &:first-child {
    top: 25%;
    left: 0;
  }
  
  &:nth-child(2) {
    transform: scaleX(-1);
    top: 0;
    left: 15%;
  }
  
  &:nth-child(3) {
    transform: scaleX(-1);
    top: 45%;
    left: 45%;
  }
  
  &:nth-child(4) {
    top: 10px;
    right: 10%;
  }
  
  &:nth-child(5) {
    transform: scaleX(-1);
    top: 50%;
    right: 10%;
  }
  
  &:nth-child(6) {
    top: 42%;
    right: 7%;
  }
}

//--------------tablet
@media @tablet {
  .unique {
    width: 768px;
    background-size: cover;
  }
  
  .unique__title {
    font-size: 48px;
    line-height: 74px;
    position: relative;
    z-index: 1;
    
    span {
      font-size: 72px;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 364px;
      height: 250px;
      background-image: url(../img/steps.png);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  
  .unique__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .unique__item {
    &:first-child {
      order: 2;
      margin-bottom: 0;
    }
    
    &:nth-child(2) {
      order: 3;
      margin-bottom: 0;
      align-self: auto;
    }
    
    &:nth-child(3) {
      order: 1;
      width: 125px;
    }
    
    &:nth-child(4) {
      order: 4;
      width: 140px;
      margin-bottom: 0;
      align-self: flex-end;
    }
  }
  
  .unique__product {
    width: 246px;
    height: auto;
  }
  
  .unique__bug-item {
    transform: scale(1);
    
    &:first-child {
      top: 27%;
    }
    &:nth-child(2) {
      top: -20px;
      left: 17%;
    }
    &:nth-child(3) {
      top: 50%;
    }
    &:nth-child(4) {
      right: 22%;
    }
    &:nth-child(5) {
      right: 17%;
    }
    &:nth-child(6) {
      top: 46%;
      right: 16%;
    }
  }
}