.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper-complex {
  background-image: url(../img/background-complex-mobile.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top 235px;
}

//--------------tablet
@media @tablet {
  .wrapper {
    width: 738px;
    padding: 0 15px;
  }
  
  .wrapper-complex {
    background-image: url(../img/background-complex-tablet.png);
    background-position: center top 520px;
    background-size: auto;
  }
}

//----------------desktop
@media @desktop {
  .wrapper {
    width: 960px;
    padding: 0 10px;
  }
  
  .wrapper-complex {
    background-image: url(../img/background-complex.png);
    background-position: center top 570px;
  }
}
